*{
    font-family:Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: green;
    transition: .5s;
}

a:hover{
    color: rgba(66, 232, 66, 0.737);
}

